/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Non Meyer general styling below */
:root {
    font-size: 18px;
    --primary: #354985;
    --primary-alt: #2C4696;
    --clashing: #f0698B;
    --secondary: #FADB7F;
    --tertiary: #ADA076;
}

/* General main layout */
html, body {
    height: 100vh;
}
.container {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 6em auto;
    height: 100vh;
}

/* Nav layout */
header {
    grid-column: 1 / 3;
    background-color: var(--secondary);
    display: flex;   
}

header .header-logo {
    font-size: 3em;
    color: var(--primary);
    margin: auto;
    margin-left: 20px;
}

/* Sidebar style */
.sidebar {
    display: flex;
    flex-direction: column;
    background-color: var(--tertiary);
}

/* Content style */
.content {
    padding: 20px;
}

.content h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
}

.task-item {
    padding: 5px 0;
    border-top: var(--primary) solid 1px;
    display: grid;
    grid-template-columns: auto 120px;
    justify-content: space-between;
    align-items: center;
    transition: 100ms;
}

.task-item .item-uncheck,
.task-item.done .item-check {
    display: block;
    z-index: 1;
}

.task-item.done .item-uncheck,
.task-item .item-check {
    display: none;
    z-index: -1;
}

.task-item:hover {
    transform: scale(1.05);
    transition: 300ms;
}

.task-left {
    display: flex;
    align-items: center;
}

.task-right {
    display: flex;
    align-items: center;
    justify-content: end;
}

.task-bottom {
    display: grid;
    grid-template-columns: auto 120px;
    grid-column: 1 / 3;
    max-height: 0px;
    overflow: hidden;
    transition: 200ms ease-out;
}

.task-item.active .task-bottom {
    max-height: 100px;
    transition: 500ms ease-out;
}

.task-bottom p {
    grid-row: 1 / 4;
    grid-column: 1 / 2;
}

.task-bottom img,
.task-bottom span,
.task-bottom span {
    justify-self: end;
    text-align: end;
}

.content li:nth-child(2n+1) {
    background-color: rgb(236, 250, 255);
}

.content li:first-child {
    border: none;
}

.content li img {
    height: 20px;
}

/* Form style */
form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 20px;
    display: grid;
    grid-template-columns: 30% 50% 20%;
    justify-content: center;
    column-gap: 10px;
    align-items: center;
}

form legend {
    grid-column: 1 / 3;
    font-size: 1.8em;
    margin-bottom: 10px;
}

form img {
    grid-column: 3 / 4;
}

form * {
    margin-bottom: 10px;
}

form input[type='text'],
form textarea {
    grid-column: 1 / 4;
    resize: vertical;
}

form input[type='date'],
form select {
    grid-row-start: 7;
}

form #new-task-project {
    grid-column: 2 / 3;
}

form #new-task-priority {
    grid-column: 3 / 4;
}

form button {
    grid-column: 1 / 4;
    justify-self: center
}

#task-name-error {
    grid-column: 1 / 4;
}